@import "bootstrap";

.pagination {
  justify-content: center;
}

.mb-3 {
  text-align: center;
}






.contents{
  background-color:white;
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:90%;
  .login_name{
    font-size: 25px;
    font-family: "游明朝体","YuMincho"; font-weight: 900;
    color: blue;
  }
}
