@import "bootstrap";

.pagination {
  justify-content: center;
}

.mb-3 {
  text-align: center;
}






.contents{
  background-color:white;
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:90%;
}